@font-face {
    font-family: letra-400;
    src: url(letra-400.otf);
}

@font-face {
    font-family: letra-500;
    src: url(letra-500.otf);
}

@font-face {
    font-family: letra-600;
    src: url(letra-600.otf);
}

@font-face {
    font-family: letra-dec;
    src: url(decoracion.ttf);
}

@font-face {
    font-family: letra-titulo-chica;
    src: url(letra-titulo-chica.ttf);
}

@font-face {
    font-family: letra-titulo-grande;
    src: url(letra-titulo-grande.ttf);
}
